h1 {
    color: purple;
    font-size: 50px;
    font-family: "Courgette";
}

h2 {
    color:rgb(38, 64, 88);
    text-shadow: 1px 1px 5px rgb(61, 61, 61);
}

body {
    background-color: rgb(170, 196, 244);
}

.book_section {
    border: 4px solid rgb(70, 120, 167);
    border-radius: 10px;
    margin:20px;
    padding:10px;
}

table.egg {
    border: 4px solid rgb(8, 25, 73);
    border-collapse: collapse;
}

table.egg th {
    border: 1px solid blue;
    border-bottom: 4px solid rgb(8, 25, 73);
    padding:10px;
    background-color: aqua;
    font-size: 20px;
    font-family: "Courgette";
}
table.egg td {
    border: 1px solid blue;
    vertical-align: top;
    padding:10px;
    background-color: rgb(111, 161, 161);
    color:rgb(194, 242, 248);
} 

table.egg td.name {
    font-size: 22px;
}

.bookimage {
    width:100%; /*Resize image automatically*/
    border: 4px solid white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.portrait_geronimo {
    object-fit: cover; /*Clips the white background on each side*/
    object-position: 50% 50%; /* Clips left and right side off */
    height:200px;

    background-color: white;
    background-blend-mode: multiply;
}
.portrait {
    width:100px;
}

span.name {
    color: rgb(165, 23, 190);
}

/*
This is the style for many elements
1) It is for the Weird School people's name not in the table
2) It is for the Geronimo people's name in the table   
*/
.name{
    font-weight: bold;
    text-decoration: underline;
}