table {
    border: 1px solid black;
    background-color: rgb(76, 168, 76);
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width:30px;
    height: 30px;
}

td.blue {
    background-color: blue;
}

.blueprint {
    display:flex;
    flex-direction: row;
}

.board,
.boardcolor {
    flex:0 0 auto;
}

.boardcolor {
    margin-left: 50px;
}

ul {
    list-style: none;
    margin:0;
    padding: 0px;
}

li, label, input {
    margin:0;
    padding: 0;

}

h2  {
    margin-bottom: 30px;
    margin-top:0px ;
}

body  {
    background-color: gainsboro;
}

h1{
 color: rgba(35, 126, 156, 0.71);       
}