#secret_input{
    width: 100%;
    height: 200px;
}

.container {
    margin:10px;
}
.containerinput {
    display: flex;
    flex-direction: column;
}

#transformbutton {
   margin-top: 5px;
   margin-bottom: 5px; 
}

#secret_ouput {
    padding: 20px;
    color: pink;
    background-color: rgb(1 81 29);
    font-size: 20px;
}